/* CSS Variables */
:root {
  --primary-color: #005f73;
  --secondary-color: #0a9396;
  --text-color-light: #ffffff;
  --text-color-dark: #333333;
  --link-hover-color: #94d2bd;
  --font-primary: 'Playfair Display', serif;
  --font-secondary: 'Roboto', sans-serif;
}

/* CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.profile-image-tablet {
  display: none;
}
.profile-name-tablet {
  display: none;
}
/* General Styles */
body {
  font-family: var(--font-secondary);
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: var(--text-color-dark);
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Header Styles */
.header-container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.profile-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: visible;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-image-large {
  width: 100%;
  object-fit: cover;
}

.profile-name-overlay {
  position: absolute;
  bottom: 0;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  font-family: var(--font-primary);
  font-size: 3rem;
  color: var(--text-color-light);
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
  padding: 0.5rem 1rem;
  width: 100%;
}

.header-text h1 {
  font-size: 2.5rem;
  font-family: var(--font-primary);
}

.social-links {
  display: flex;
  gap: 1rem;
}

.social-links img {
  width: 24px;
  height: 24px;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.social-links img:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.icon {
  color: var(--text-color-dark);
  text-decoration: none;
}

.icon:hover {
  color: var(--link-hover-color);
}

/* About Me Section */
.about-me {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:1rem 0;
}

.about-me-container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  width: 100%;
  padding: 2rem;
}

.profile-section,
.about-me-content {
  margin: 0 auto;
}

.profile-section {
  margin-bottom: 2rem;
  position: relative;
  width: 100%;
  overflow: visible;
}

.about-me-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  background-color: #ffffff;
  padding: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.about-me-text {
  margin-bottom: 1rem;
}

.about-me-content h2 {
  font-family: var(--font-primary);
  font-size: 2rem;
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.about-me-content p {
  font-family: var(--font-secondary);
  font-size: 1rem;
  color: var(--text-color-dark);
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

.gradient-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  z-index: -1;
  pointer-events: none;
  
}

/* Projects Section */
.projects {
  padding: 1.5rem;
  text-align: center;
}

.projects h2 {
  font-family: var(--font-primary);
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  color: var(--primary-color);
  text-align: start;
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin: 0 auto;
  max-width: 1200px;
}

.project-card {
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  margin: 1rem auto;
  width: 100%;
  max-width: 580px;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.project-image img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.project-card h3 {
  font-family: var(--font-primary);
  font-size: 2rem;
  margin: 1rem 0 0.5rem;
  font-weight: 200;
  color: var(--secondary-color);
}

.project-card p {
  font-size: 1rem;
  margin: 0 1rem 1rem;
  text-align: left;
}

.project-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.project-links img {
  width: 24px;
  height: auto;
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.project-links img:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.project-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;
}

/* Footer Styles */
.footer {
  background-color: var(--primary-color);
  color: var(--text-color-light);
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  width: 100%;
}

.contact-info {
  flex: 1;
}

.contact-info h2 {
  font-family: var(--font-primary);
  font-size: 2rem;
  margin-bottom: 1rem;
}

.contact-info p,
.contact-info a {
  font-family: var(--font-secondary);
  font-size: 1rem;
  color: var(--text-color-light);
  text-decoration: none;
}

.contact-info a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

.contact-info img {
  width: 20px;
  margin-right: 8px;
  vertical-align: middle;
}

address {
  font-style: normal;
  line-height: 1.5;
}

address p {
  margin: 0.5rem 0;
}

address p img {
  width: 20px;
  margin-right: 8px;
  vertical-align: middle;
}

.footer img {
  width: 100%;
  max-width: 1250px;
  object-fit: cover;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.footer .social-links {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.footer .social-links img {
  width: 24px;
  height: 24px;
  fill: var(--text-color-light);
  transition: transform 0.2s ease, fill 0.2s ease;
}

.footer .social-links img:hover {
  transform: scale(1.1);
  fill: var(--link-hover-color);
}

.footer svg {
  width: 24px;
  fill: var(--text-color-light);
  margin-right: 8px;
  vertical-align: middle;
}

.footer svg:hover {
  fill: var(--link-hover-color);
  transform: scale(1.1);
}

/* Media Queries */
/* Tablet View */
@media (min-width: 600px) {
  .projects-grid {
      grid-template-columns: repeat(2, 1fr);
  }
}

/* Desktop View */
@media (min-width: 900px) {
  .projects-grid {
      grid-template-columns: repeat(3, 1fr);
  }
}

/* Footer Responsive */
@media (min-width: 768px) {
  .footer-container {
      grid-template-columns: 1fr 2fr;
      align-items: center;
  }
}

/* About Me Responsive */
@media (min-width: 600px) and (max-width: 1024px) {
  .profile-name-overlay {
    display: none;
  }

  .profile-image-large {
    display: none;
  }
  .profile-image-tablet {
    display: block;
  }
  .about-me-container {
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: auto;
      gap: 1rem;
      align-items: start;
      transform: translateY(-1%);
  }

  .profile-section {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      position: relative;
      z-index: 2;
  }

  .profile-container {
      position: relative;
  }

  .profile-image-tablet {
      width: 70%;
      float: left;
      margin-right: 1rem;
     
      margin-top:-10rem ;
      transform: scale(1);
      margin-left: -6rem;
  }


.profile-name-tablet {
  display: block;
  transform: translateY(-5rem);
  font-family: var(--font-primary);
  font-size: 3rem;
  color: var(--text-color-light);
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
  padding: 0.5rem 1rem;
  width: 100%;
  text-align: end;
  margin-right: -4rem;
  z-index: 3;
}

  .about-me-content {
      grid-column: 1 / span 2;
      grid-row: 2 / 2;
      position: relative;
      z-index: 1;
      padding:  0 2rem 1rem;
      margin-top: 3rem;
      width: 80%;
      transform: translateX(2rem);
  }

  .about-me-content::after {
      content: "";
      display: table;
      clear: both;
  }

  .about-me-content p {
      margin-top: 1rem;
      text-align: justify;
      line-height: 1.6;
  }
  .about-me h2 {
    text-align: center;
  }


}

/* Large Desktop View */
@media (min-width: 1025px) {
  .about-me-container {
      grid-template-columns: 1.5fr 2fr;
      margin: 0 3rem;
  }

  section.projects {
    margin: 0 3rem;
  }
  .about-me-content,
  .profile-section {
      position: static;
  }

  .projects-grid {
      gap: 3rem;
      max-width: 100%;
  }
  .footer-container {
    max-width: 96%;
  }
}



@media (max-width: 450px) {
  .profile-name-overlay {
    font-size: 2.2rem;
  }
 .footer {
  padding: 1.5rem;
 }
 
}